* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: #452e20;
    font-size: 26px;
    border: none;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #f3a63f;
}

body .container main {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url("/assets/img/bg-img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

body .container main .title {
    font-family: 'Lemonada', cursive;
    font-size: 20px;
    color: #f3a63f;
}

body .container main .items {
    display: flex;
    justify-content: center;
}

body .container main .items .box {
    border-radius: 10px;
    background-color: #ffffff;
    width: 410px;
    height: 500px;
    margin: 15px;
}

body .container main .items .box .image {
    background-color: #f3a63f;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
}

body .container main .items .box .one {
    background-image: url('/assets/img/food-img/chicken-adobo-img.png');
}

body .container main .items .box .two {
    background-image: url('/assets/img/food-img/caldereta-img.png');
}

body .container main .items .box .three {
    background-image: url('/assets/img/food-img/kare-kare-img.png');
}

body .container main .items .box h3 {
    font-family: 'Lemonada', cursive;
}

body .container main .items .box p {
    font-family: sans-serif;
}