* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: #452e20;
    font-size: 30px;
    border: none;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #f3a63f;
}

body .container main {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url("/assets/img/bg-img/bg-index.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body .container main .title {
    font-size: 65px;
    color: #f3a63f;
}

body .container main .description {
    font-size: 40px;
    color: #ffffff;
}