* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: #452e20;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #f3a63f;
}

body .container main {
    height: 100vh;
    text-align: center;
    display: grid;
    place-content: center;
    background-image: url("/assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

body .container main section.hero {
    margin-top: -1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


body .container main .hero .box {
    border-radius: 10px;
    background-color: #ffffff;
    width: 1332px;
    height: 500px;
    margin: 15px;
}

body .container main section.hero .text {
    margin-left: 15vw;
}

body .container main section.hero .text h1 {
    font-family: 'Lemonada', cursive;
    font-size: 48px;
    text-shadow: 10px 10px 10px #000000;
    color: #f3a63f;
}

body .container main section.hero .description p {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: #000000;
}

body .container main section.hero .description button {
    margin: 5px;
    padding: 10px;
}