@import "./custom-properties-style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-one);
    color: var(--bg-green);
    font-size: 5rem;
    text-transform: uppercase;
}

h1:hover {
    color: var(--font-color-green);
}

p {
    font-family: var(--font-two);
    color: var(--font-color-black);
    font-size: 2rem;
}

button {
    width: 180px;
    color: var(--font-color-button);
    background-color: var(--bg-green);
    border: none;
    border-radius: 5px;
    font-family: var(--font-three);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 16em;
    height: 3.5em;
    letter-spacing: 2px;
}

button:hover {
    color: var(--bg-green);
    background-color: var(--bg-white);
    cursor: pointer;
}

body {
    position: relative;
    height: 100%;
    background-color: var(--bg-green);
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
}

.container main {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.container main .box {
    background-color: var(--bg-white);
    box-shadow: var(--bg-shadow);
    border-radius: 15px;
    height: 520px;
    width: 1255px;
    transition: all .3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: var(--bg-shadow);
}

.container main .box .box-content {
    line-height: 1.5;
    margin: 1em;
    padding: 2.8em;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}

.container main .box .box-content .title-text {
    height: 120px;
    padding: 1em;
}

.container main .box .box-content .description {
    height: 180px;
    padding: 1.5em;
    text-align: center;
}

#line-break::before {
    content: "\a";
    white-space: pre;
}

.container main .box .box-content .button {
    height: 100px;
    padding: 1.5em;
}