:root {
    --bg-green: #3e663e;
    --bg-white: #fafafa;
    --font-one: 'Lemonada';
    --font-two: 'Playfair Display';
    --font-three: 'Paytone One';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    background-color: var(--bg-green);
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
}

.container main {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.container main .box {
    background-color: var(--bg-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 520px;
    width: 1255px;
}

.container main .box .box-content {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;

}