:root {
    --bg-green: #3e663e;
    --bg-white: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    background-color: var(--bg-green);
}

.container {
    display: flex;
    justify-content: center;

}

.hero {
    background-color: var(--bg-white);
}

.hero .box {
    border-radius: 10px;
    width: 410px;
    height: 500px;
    margin: 15px;
}

.text h1 {
    font-size: 16px;
}